Repository 409H/EtherAddressLookup, pull requests merged in 2019-02, with the labels that each got.

#1081 Add crypto.men to whitelist
  whitelists/domains.json
Labels: whitelist request

#1082 bintrx.blogspot.com + more
  blacklists/domains.json
Labels: blacklist request

#1083 Domain badges
  css/app.css
  css/app.css.map
  css/settings.css
  css/settings.css.map
  css/settings.scss
  images/ether-128x128-black_badge.png
  images/ether-128x128-green_badge.png
  images/ether-128x128-red_badge.png
  js/DomainBlacklist.js
  js/app/signatureSelector.js
  js/options.js
  manifest.json
  settings.html
Labels: enhancement

#1087 Small improvements
  css/app.css
  css/app.css.map
  css/app.scss
  js/DomManipulator.js
  js/app/chooseBlockchain.js
  js/options.js
  options.html
  static/phishing/phishing-phishfort.html
  static/phishing/phishing-segasec.html
Labels: enhancement
